/*
 * 0 - Normalize
 * 1 - Typographie
 * 2 - Header
 * 3 - Footer
 * 4 - Corps de page
 * 5 - Formulaire
 */

/**** 0 - Normalize ****/
/*html {
  font-size: 62.5%;
}*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

a,
a:hover {
  text-decoration: none;
  color: #755BB4;
}

fieldset {
  border-color: #755BB4;
}

/**** 1 - Typographie ****/
* {
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #755BB4;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

h2 {
  font-size: 1rem;
  margin: 30px 0;
}


/**** 2 - Header ****/
.entete_page {
  background: #755BB4;
  display: flex;
  justify-content: space-between;
}

.entete_page__row {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.entete_page__row img {
  width: 20%;
  max-width: 200px;
}

.entete_page__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.entete_page__nav-item {
  color: white;
  margin-right: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 700;
  transition: 0.3s;
}

.entete_page__nav-item:last-child {
  margin-right: 0;
}

.entete_page__nav-item:hover {
  color: rgba(255, 255, 255, 0.7);
}

.entete_page__icon_list {
  width: 23%;
  background: white;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.entete_page__icon {
  font-size: 1rem;
}

.fa-message {
  position: relative;
}

.fa-message:after {
  content: "";
  background: red;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  right: -5px;
}

.entete_page__icon {
  color: #755BB4;
}

.user_profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.user_profile img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user_profile p {
  color : #755BB4;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.user_profile i {
  color : #755BB4;
  font-weight: 600;
}

/**** 3 - Footer ****/
.pied-page {
  background: #755BB4;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

/**** 4 - Corps de page ****/
.corps_page {
  margin: auto;
  width: 80%;
  max-width: 1440px;
}

/**** 5 - Formulaire ****/
form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

label, legend {
  color : #755BB4;
  text-transform: uppercase;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 600;
}

label {
  padding: 15px 0;
}

.form_input-container {
  padding: 15px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.address-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form_input-container.half-input {
  width: calc(50% - 20px);
}

input {
  padding: 15px;
  line-height: 1.4;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  border-radius: 3px;
  transition: 0.35s ease-in-out;
}

input::placeholder {
  color: #baa5ec;
}

input:focus::placeholder {
  color: white;
}

.react-date-picker__inputGroup {
  padding: 15px !important;
  background-color: #f9f9f9;
}

.react-date-picker__wrapper {
  border: 1px solid #e5e5e5 !important;
}

input:focus, .react-date-picker--open .react-date-picker__inputGroup {
  outline: 0;
  border-color: #755BB4;
  background-color: #baa5ec;
  color: #fff;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width:850px) {
  .entete_page__row img {
    width: 115px;
    margin: auto;
  }

  .entete_page {
    justify-content: space-around;
  }

  .entete_page__icon_list {
    display: none;
  }

  .form_input-container.half-input {
    width: 100%;
  }
}